name: Go Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go 1.24
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.x"
      - name: Display Go version
        run: go version
      - name: Code Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v -race ./...
